[Unit]
Description=TON full node daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/validator-engine \
  --global-config /var/ton-work/etc/ton-global.config.json \
  --db /var/ton-work/db/ \
  --logname /var/log/ton/log \
  -t 4

Restart=on-failure
RestartSec=60s
PrivateTmp=true
ProtectSystem=full
PrivateDevices=true
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictRealtime=yes
NoNewPrivileges=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
